@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.calculator {
  width: 320px;
  background-color: #003049;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border: none;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

#display {
  width: calc(100% - 75px);
  padding: 10px;
  font-size: 36px;
  margin-bottom: 6px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: right;
  background-color: #003049;
  color: #ffffff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.buttons button {
    margin-bottom: 10px; 
  }

button {
  padding: 20px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #003049;
  color: #ffffff;
  border: 2px solid #ffffff;
}

button:hover {
  background-color: #004d65;
}

.function {
  background-color: #ff6b6b;
  color: #003049;
  border: 2px solid #ff6b6b;
}

.operator {
  background-color: #74b9ff;
  color: #003049;
  border: 2px solid #74b9ff;
}

.equals {
  background-color: #55efc4;
  color: #003049;
  border: 2px solid #55efc4;
}

.disabled {
  background-color: #003049;
  color: #ffffff;
  border: 2px solid #003049;
}