@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    background-color: #000000;
 
}=

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .4s; 
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
}

.navbar a:hover {
    color: #00abf0;
}
.home {
    height: 100vh;
    background: url('display3.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before { 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s; 
}
.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content h3::before{
  
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s; 
}
.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p::before { 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s; 
}
.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px; 
    height: 50px;    
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2; 
}
.btn-box a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #040404;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(1):hover {
    color: #0d0e0e;
}
.btn-box a:nth-child(1)::before {
    background: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #0d0e0e;
}
.btn-box a:nth-child(2)::before {
   
    background: #00abf0;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #151515;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover{
    background: #00abf0;
}
.btn-box a:hover::before{
    width: 100%;
}


.home-sec{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sec::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 2.8s;
    z-index: 2; 
}
.home-sec a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abfe; 
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-sec a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sec a:hover::before{
    width: 100%;
}
.home-sec a:hover{
    color: black;
}
.home-imghover{
    position: absolute;
    top: 0;
    right: 80px;
    width: 500px;
    height: 100%;
    background:transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}
.home-imghover:hover
{
    background-color: #0c0c0c;
    opacity: .8;
}
.home-imghover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 2.3s;
    z-index: 100; 
}
@keyframes showRight{
    100%{
        width: 0;
    }
}
@keyframes manipActiveHover
{
    100%{
    pointer-events: auto;
    }
}
.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    background: #000000;
}

.skills-heading {
    font-size: 50px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 100px;
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skill {
    width: 25%;
    text-align: center;
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.1);
}

.skill h3 {
    font-size: 24px;
    font-weight: 700;
    color: #ededed;
    margin-bottom: 20px;
}

.skill ul {
    list-style-type: none;
    padding: 0;
}

.skill ul li {
    margin-bottom: 10px;
    color: #ccc;
}

.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    background: #000000;
}

.contact-heading {
    font-size: 50px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 50px;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background: linear-gradient(135deg, #f8f8f8, #e9e9e9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-content form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.contact-content form input,
.contact-content form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #e9e9e9;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s, border-color 0.3s;
}

.contact-content form input:focus,
.contact-content form textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}

.contact-content form textarea {
    resize: none;
    min-height: 150px;
}

.contact-content form button {
    padding: 15px 30px;
    background-color: #00abf0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-content form button:hover {
    background-color: #0078a8;
    transform: scale(1.05);
}

.project {
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.projects-heading
{   font-size: 50px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 100px;
    text-align: center;

}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-top: 50px;
}

.project-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #00abf0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.project:hover .project-title {
    transform: translateY(0);
}

.project-description {
    font-size: 16px;
    color: #a7a6a6;
    padding: 20px;
}



.project:hover .project-image {
    transform: scale(1.05);
}



.footer {
    background: #000000;
    color: #fff;
    padding: 20px 10%;
    text-align: center;
}

.footer p {
    font-size: 14px;
    color: #ccc;
}

.footer a {
    color: #00abf0;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
